<div class="container">
  <div class="row top-buffer">
    <h1 class="text-lg-center"> HiStoryQuiz </h1>
  </div>
  <div class="row top-buffer">
    <div class="col-6">
      <label> Number of Questions: </label> <input type="number" name="number_of_questions" [(ngModel)]="amountOfQuestions">
    </div>
    <div class="col-6">
      <button class="btn btn-primary" type="submit" (click)="startQuiz()"> Create Quiz </button>
    </div>
  </div>
  <div *ngIf="quizStart" class="row top-buffer">
    <app-quiz (endEmmiter)="endQuiz($event)" (resultEmtter)="sendResult($event)" [amountOfQuestions]="amountOfQuestions"></app-quiz>
  </div>
  <div class="row top-buffer">
    <div class="col-6">
      <button class="btn btn-primary" (click)="showResults()">Show results</button>
    </div>
  </div>
  <div class="row top-buffer" *ngIf="resultsAreReady">
    <app-show-result [result]="result"></app-show-result>
  </div>
</div>
